body, html {
  height: 100%;
  margin: 0px;
  background: #18121e;
  background-image: linear-gradient(90deg, #18121e 0, #233237 100%);
}

div, section, header, footer, ul, li, a {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

/* Flexbox setup */

.box {
  display: flex;
  position: relative;
  height: 100%;
}

.box.vertical {
  flex-flow: column;
}

.box.horizontal {
  flex-flow: row;
}

.box .fill {
  flex: 1 1;
}

.box .double {
  flex-grow: 2;
}

.box header, .box footer, .box .title {
  flex: 0 0;
}

#main {
  overflow: hidden;
}

/* Header / nav menus */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  padding: 20px 20px 0 40px
}

header li {
  flex: 0 0;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

header li a {
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

header li button {
  background-color: #1b8db2;
  border: none;
  color: white;
  padding: 16px 32px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.logo {
  height: 48px;
  width: auto;
  float: left;
  margin-right: 30px;
  color: white;
  text-decoration: none;
  font-size: 48px;
  font-family: Helvetica;
}

.nav-bar {
  float: right;
}

.nav-bar li {
  padding: 0 20px;
}

.dropdown {
  position: relative;
  color: #fff;
}

.nav-bar .dropdown::after {
  content: '';
  position: relative;
  top: .8em;
  z-index: 99999;
  left: .5em;
  height: 0;
  width: 0;
  border: 4px solid transparent;
  border-top-color: rgba(255,255,255,.6);
}

.dropdown-content::before {
  content: '';
  position: absolute;
  top: -30px;
  z-index: 99999;
  left: calc(50% - 20px);
  height: 0;
  width: 0;
  border: 20px solid transparent;
  border-bottom-color: #1b8db2;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 33px;
  right: -100%;
  background-color: #1b8db2;
  min-width: 160px;
  box-shadow: 0px 3px 21px 2px rgba(0,0,0,1);
  padding: 12px 16px;
  border-radius: 10px;
  z-index: 10;
}

li:hover .dropdown .dropdown-content {
  display: block;
}

.dropdown-content li {
  padding: 5px 5px;
  border-radius: 5px;
  text-align: left;
}

.dropdown-content li:hover {
  background-color: #2b9dc2;
}

/* Function bar */
.function-bar {
  width: fit-content;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.function-bar li {
  display: flex;
  padding: 5px 15px;
  float: left;
  height: 100%;
}

.function-bar button i {
  font-size: 14px;
  width: 100%;
}

.function-bar button:focus {
  outline: none;
}

.function-bar button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

.function-bar li.hidden {
  opacity: .1;
  pointer-events: none;
  cursor: default;
}

/* Editor */
.current-runtime-position {
  position: absolute;
  background-color: #005774;
}

.currently-called-function {
  position: absolute;
  background-color: #005774;
}

.breakpoint {
  position: absolute;
  border: 2px dotted #1b8db2;
}

.steppoint {
  pointer-events: all;
  position: absolute;
  opacity: 0;
  transition: .1s;
  border: 2px dotted #1b8db2;
}

.steppoint:hover {
  opacity: 0.7;
  cursor: pointer;
}

.ace-ambiance .ace_gutter {
  color: #fff !important;
}

/* Dashboard */
#dashboard {
  transition: .8s;
  width: 0;
}

#dashboard.hidden {
  flex: 0 1;
}

/* Widgets */
.widget-wrapper {
  position: relative;
  background: #222;
  color: white;
  display: flex;
  flex: 1 1;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,1)
}

#dashboard.hidden .widget-wrapper {
  width: 0;
}

.widget-label {
  transition: .8s;
  position: absolute;
  left: -5px;
  top: -5px;
  z-index: 2;
  padding: 5px 10px;
  background: #2b9dc2;
  border-radius: 10px;
  font-size: 14px;
  font-family: sans-serif;
}

#dashboard.hidden .widget-label {
  left: 0;
}

.widget-contents {
  overflow: hidden;
  width: 100%;
}

/* Console */
.console {
  max-height: 100%;
  overflow-y: auto;
  word-break: break-all;
  position: relative;
  background: #222;
  color: #1b8db2;
  font-family: monospace;
  padding: 30px 5px ;
}

/* Call stack */
#stack-frames {
  /* position: absolute; */
  /* overflow: hidden; */
  /* bottom: 0; */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: monospace;
  font-size: 14px;
  padding: 0 5px;
}

.stack-frame {
  transition: .5s;
  position: relative;
  width: 100%;
  padding: 5px;
  border-bottom-color: #005774;
  background: #005774;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,.4);
}

.stack-frame.template, .stack-frame.hidden {
  opacity: 0;
  flex: 1;
}

.stack-frame.active {
  background: #1b8db2;
}

.stack-frame.active::before {
  opacity: 0;
  margin-top: 4px;
  border-bottom-color: #1b8db2;
}

.stack-frame::before {
  content: '';
  transition: .5s;
  position: absolute;
  top: -8px;
  z-index: 99999;
  left: calc(50% - 4px);
  height: 0;
  width: 0;
  border: 4px solid transparent;
  border-bottom-color: #005774;
}

.stack-frame::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 100%;
  background: inherit;
}

.stack-frame-vars {
  display: none;
}

/* Heap */
#heap-canvas {
  width: 100%;
  height: 100%;
}

/* Footer */

footer {
  padding: 10px;
  text-align: center;
  background: #18121e;
  color: #fff;
}

/* Sidebar */

.sidebar {
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

/* File selector */

.file-tabs {
  background: #984b43;
  margin: 0;
  padding: 0;
}

/* Slide bar inputs */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    border-radius: 10px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 10px;
    background: #1b8db2;
    border-radius: 10px;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 10px;
    background: #1b8db2;
    border-radius: 10px;
    cursor: pointer;
}

/* Palettes */
/* Steam */
.color-steam-dark {
  background: #18121e;
  color: #fff;
}

.color-steam-cool {
  background: #233237;
  color: #fff;
}

.color-steam-warm {
  background: #984b43;
  color: #fff;
}

.color-steam-highlight {
  background: #eac67a;
  color: #fff;
}

/* Bold */
.color-bold-dark {
  background: #000;
  color: #fff;
}

.color-bold-cool {
  background: #062f4f;
  color: #fff;
}

.color-bold-warm {
  background: #813772;
  color: #fff;
}

.color-bold-highlight {
  background: #b82601;
  color: #fff;
}
