body, html {

  height: 100%;
  margin: 0px;
}

div {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

.box {
  display: flex;
  height: 100%;
  width: 100%;
}

.box.vertical {
  flex-flow: column;
}

.box.horizontal {
  flex-flow: row;
}

.box .content {
  flex: 1 1;
}

.box .header, .box.footer, .box.title {
  flex: 0 1 content;
}

#main {
  background: #7388b5;
  padding: 5px;
}

.menu-item {
  text-align: center;
  margin: 5px 10px 5px 0;
  padding: 0 10px;
  background: #002451;
  border: inset #002451;
  color: white;
  flex: 0 1 content;
}

#disclaimer {
  background: #002451;
  border: 0;
  padding: 5px;
  /* border-radius: 5px; */
  font-family: sans-serif;
  float:right;
  color: white;
}

#version {
  font-style: italic;
  font-size: 70%;
}

#content {
  height: 100%;
  overflow: hidden;
}

#program {
  width: 50%;
  float: left;
  padding-right: 5px;
}

#memory {
  float: left;
  width: 50%;
  padding-left: 5px;
}

#stdout {
  padding: 10px;
  margin-top: 10px;
  font-family: monospace;
  background: #002451;
  color: white;
  overflow-wrap: break-word;
  overflow-y: auto;
  max-height: 50%;
  flex: 1 0;
}

#heap {
  background: #002451;
}

.function-var-name, .function-var-type {
  float: left;
  margin-right: 5px;
}

.function-var-value {
  float: right;
}

.function-name {
  background-color: #359;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .function-name:hover {
  background-color: #46a;
}

.function-name:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.function-vars {
  color: white;
  background-color: #002451;
  padding: 10px 18px;
  overflow: hidden;
}

#editor {
  flex: 4 0;
}
